---
layout: default
type: landing
body-class: home
---

<p id="about">My name is <a href="http://eaton.fyi">Jeff Eaton</a>. I'm a founding partner at <a href="https://autogram.is">Autogram</a>, where I design <a href="http://insertcontenthere.com">digital content platforms</a>. I’m married to <a href="http://sparrowpost.com" rel="nofollow">Catherine</a>; I like <a href="http://pinboard.in/u:eaton" rel="nofollow">interesting things</a> and <a href="https://www.instagram.com/angrylittletree/">pretty pictures</a>.</p>

<ul>
<h4>The latest bits</h4>
{% for post in site.categories.blog limit: 10 %}<li><a href="{{ post.url }}" data-wordcount="{{ post.content|strip_html|number_of_words }}" title="{{ post.excerpt|strip_html|strip_newlines }}">{{ post.title }}</a></li>{% endfor %}
<li><em><a href="/archive">See the archives&hellip;</a></em></li>
</ul>

<ul>
<h4>Other projects</h4>{% for project in site.data.projects %}
<li><a href="{{ project.link }}"><strong>{{ project.name }}</strong></a> <cite>{{ project.summary }}</cite></li>
{% endfor %}</ul>
