---
layout: default
type: landing
body-class: home
---

<p id="about">My name is <a href="http://twitter.com/eaton">Jeff Eaton</a>. I’m a <a href="http://drupal.org">CMS</a> architect and <a href="http://insertcontenthere.com">content strategist</a> at <a href="http://lullabot.com" rel="nofollow">Lullabot</a>. I’m married to <a href="http://sparrowpost.com" rel="nofollow">Catherine</a>, and I like <a href="http://pinboard.in/u:eaton" rel="nofollow">interesting things</a>.</p>

{% for post in site.categories.blog limit:1 %}<article class="{{ post.url }}">
{% if post.title %}<h4><a href="{{ post.url }}">{{ post.title }}</a></h4>{% endif %}
{{ post.excerpt }}</article>{% endfor %}

<ul>
<h4>Recently</h4>
{% for post in site.categories.blog offset:1 limit: 4 %}<li><a href="{{ post.url }}">{{ post.title }}</a></li>{% endfor %}
<li><em><a href="/archive">See the archives&hellip;</a></em></li>
</ul>