---
layout: default
description: A description about my blog homepage
---
<header>
<h1><a href="/">{{ site.title }}</a></h1>
<p class="bigger">I'm <a href="http://twitter.com/eaton" rel="nofollow">Jeff Eaton</a>. I enjoy <a href="http://flickr.com/photos/jeffeaton/" rel="nofollow">photography</a>, write about <a href="http://growingupgoddy.com" rel="nofollow">religious experience</a>, and rant about <a href="http://plf.tumblr.com" rel="nofollow">technology</a>. I build things and <a href="http://www.amazon.com/dp/0596515804" rel="nofollow">teach</a> others about them for <a href="http://lullabot.com" rel="nofollow">Lullabot</a>, a <a href="http://drupal.org" rel="nofollow">Drupal</a> company. I'm married to <a href="http://sparrowpost.com" rel="nofollow">Catherine</a>, and I like <a href="http://pinboard.in/u:eaton" rel="nofollow">interesting things</a>.</p>
</header>

{% for post in site.posts limit:1 %}
<article>
{% if post.title %}<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>{% endif %}
{{ post.content }}
{% endfor %}
</article>

<ul>
{% for post in site.posts offset:1 limit:20 %}
<li><span>{{ post.date | date_to_string }} - </span><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>