<!-- Top menu/logo wrapper -->
<div id="top-wrapper" class="darkblue">
	<div class="grid-container">
		<header class="grid-20 mobile-grid-100">
			<p id="logo">Angry Little Tree</p>
			<p id="menu-button" class="hide-on-desktop"><i class="icon-reorder"></i></p>
		</header>
			    
		<nav class="grid-80 mobile-grid-100">
			<ul id="menu">
				<li><a href="/">Home</a></li>
				<li><a href="/blog">Writing</a></li>
				<li><a href="/speaking">Speaking</a></li>
				<li><a href="/projects">Projects</a></li>
				<li><a href="/quotes">Quotes</a></li>
				<li><a href="/meta">Meta</a></li>
			</ul>
		</nav>
	</div>
</div>
<!-- End Top menu/logo wrapper -->
