--- 
layout: post
lj_post: TRUE
title: My Philosophy Test Results
tags: []

drupal_path: my-philosophy-test-results
drupal_nid: 891
created: 1015504680
---
The <A HREF="http://www.selectsmart.com/PHILOSOPHY/">philosophers</A> who best match my beliefs are:

1.  Aquinas   (100%)  <a href="http://www.selectsmart.com/PHILOSOPHY/description.html#aqui">Click here for info</a>
2.  Augustine   (98%)  <a href="http://www.selectsmart.com/PHILOSOPHY/description.html#augu">Click here for info</a> 
3.  Ockham   (96%)  <a href="http://www.selectsmart.com/PHILOSOPHY/description.html#ockh">Click here for info</a>


After that, everyone drops off into the 60% range. Kant was only at 58% .... I'm disappointed! I'm not sure about Aquinas, though. He was big on the dominance of reason and the infallible nature of human nature -- all tripe, if you ask me. Augustine is more my kind of guy.
