/*	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://opensource.org/licenses/mit-license.php	*/


/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}



/*	Typography presets
	------------------	*/

.gigantic {
	font-size: 7em/1em;
	letter-spacing: -2px;
}

.huge, h1 {
	font-size: 4em;
	letter-spacing: -1px;
}

.large, h2 {
	font-size: 2em;
	margin-bottom: none;
}

.bigger, h3 {
    padding-top: 1em;
	font-size: 1.5em;
}

.big, h4 {
    padding-top: 1em;
	font-size: 1.2em;
}

body {
	font: 1.2em/1.5em Georgia, serif;
}

.small, small {
	font-size: 1em;
}

/* Selection colours (easy to forget) */

::selection 	 	{background: rgb(255,255,158);}
::-moz-selection 	{background: rgb(255,255,158);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}


/* Layout basics */
body {
	margin: 0em auto;
}




/*		Default Layout: 992px. 
		Gutters: 2em.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

html {
	background: url(xv.png) repeat;
}

header a {
	text-decoration: none;
}

header p {
	padding-top: 1em;
}

header p a:hover {
	border-bottom: 2px blue dotted;
}

header {
	padding: 2em;
	margin-bottom: 2em;
	border-radius: 2em;
	line-height: 2.25em;
	border-top-left-radius: 0em;
	border-top-right-radius: 0em;
	background: white;
}

footer {
	padding: 2em;
	border-radius: 2em;
	border-top-left-radius: 0em;
	border-top-right-radius: 0em;
	background: white;
}

article {
	padding: 2em;
	border-radius: 2em;
	background: white;
	margin-bottom: 2em;
}

article p, article ul, article ol, article code, article pre {
	padding-top: 1em;
}

article p {
	margin-bottom: .5em;
}

article blockquote {
	padding: 2em;
	background-color: slate;
}

body {
	width: 896px;
	padding: 0em 48px 84px;
	color: rgb(60,60,60);
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}



/*		Tablet Layout: 768px.
		Gutters: 2em.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	body {
		width: 712px;
		padding: 0px 28px 60px;
	}
}



/*		Mobile Layout: 320px.
		Gutters: 2em.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
	body {
		width: 320px;
		padding: 0px 0px 0px;
		font: 1em/1.4em Georgia, serif;
	}

	header {
		padding: 1em;
		border-radius: .75em;
		margin-bottom: .75em;
		line-height: 1.5em;
		border-top-left-radius: 0em;
		border-top-right-radius: 0em;
		background: white;
	}

	article {
		padding: 1em;
		border-radius: .75em;
		margin-bottom: .75em;
	}

	.huge, h1 {
		font-size: 2em;
		letter-spacing: -1px;
	}
	
	.large, h2 {
		font-size: 1.5em;
		margin-bottom: none;
	}
	
	.bigger, h3 {
		padding-top: 1em;
		font-size: 1.2em;
	}
	
	.big, h4 {
		font-size: 1.1em;
	}
}



/*		Wide Mobile Layout: 480px.
		Gutters: 2em.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	body {
		width: 436px;
		padding: 0px 22px 48px;
	}
	
}