/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */



/* External libraries */
@import "compass/reset";
@import "compass/typography/lists/horizontal-list";
@import "compass/typography/vertical_rhythm";
@import "bourbon";
@import "bitters/bitters";
@import "neat";

/* Components */
@import "misc/type";

$bonsai-page: 12;
$bonsai-content: 8;
$bonsai-gutter: 2;
$bonsai-wrapped: ($bonsai-content / 2) + $bonsai-gutter;

/* LAYOUT */

.squish {
  @include outer-container;
}

#site-meta {
  background-color: #222;
  padding: golden-ratio(.5em, 1);
  margin-bottom: golden-ratio(.5em, 1);

  a#logo {
    @include span-columns(2 of $bonsai-page);
    img {
      float: right;
      vertical-align: middle;
      max-height: golden-ratio(3em, 1);
    }
  }
  h1 {
    @include span-columns(8 of $bonsai-page);
    font-size: golden-ratio(2.5em, 1);
    color: white;
    a {
      color: white;
      text-decoration: none;

      &:hover {
        color: silver;
      }

      &:active, &:focus {
        color: white;
        outline: none;
      }
    }
  }
}

nav {
  display: none;
}

#content article {
	@include span-columns($bonsai-content of $bonsai-page);
	@include shift($bonsai-gutter);
	
	img {
		@include span-columns($bonsai-content of $bonsai-content);
	}

	.hang-right {
		$layout-direction: RTL;
		@include span-columns($bonsai-wrapped of $bonsai-content);
		@include shift(-$bonsai-gutter);
		@include reset-layout-direction();
	}

	.hang-left {
		@include span-columns($bonsai-wrapped of  $bonsai-content);
		@include shift(-$bonsai-gutter);
	}
	
	.spread {
		@include span-columns($bonsai-page of $bonsai-content);
		@include shift(-$bonsai-gutter);
	}
}

body.list .postlist-marker {
	@include span-columns($bonsai-gutter of $bonsai-page);
	text-align: right;
}

body.list .postlist {
	@include span-columns($bonsai-content + $bonsai-gutter of $bonsai-page);
}

body.home {

  section {
    padding-top: 2em;
  }
  
  #about p {
    @include span-columns(8 of 12);
    @include shift(2);
    font-size: 1.8em;
    line-height: 1.3em;
  }
  
  #blog-promo {
    article {
      @include span-columns(5 of 12);
      @include shift(2);
    }
    ul {
      @include span-columns(3 of 12);
    }
  }
}

section p {
  font-size: 1.3em;
  line-height: 1.5em;
}