---
# title: 
layout: none
---
<!DOCTYPE html{% if page.citations %} xmlns:cito="http://purl.org/spar/cito/"{% endif %}>
<!--[if IE 7]><html lang="en" class="ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><html lang="en"><![endif]-->
<!--[if !IE]><html lang="en-US"><![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
{% include global/meta.html %}
{% include global/citations.html %}
{% include global/header_scripts.html %}
</head>

<body class="{{ page.body-class }}">

<!--
<ul id="query-test">
<li id="fallback">F</li>
<li id="envelope">E</li>
<li id="large">L</li>
<li id="spread">S</li>
</ul>
-->

{% include global/nav.html %}

<div id="primary">
{{ content }}
</div>

<footer>
<p>Want more? <a href="/atom.xml">Subscribe</a> to this site's feed, <a href="http://twitter.com/eaton">follow me</a> on Twitter, or <a href="http://github.com/eaton">fork</a> my stuff on GitHub.</p>
</footer>
<script type="text/javascript">fitText(document.getElementById('site-title'), .8)</script>
</body>
</html>