---
# title: 
layout: none
---
<!DOCTYPE html{% if page.citations %} xmlns:cito="http://purl.org/spar/cito/"{% endif %}>
<!--[if IE 7]><html lang="en" class="ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><html lang="en"><![endif]-->
<!--[if !IE]><html lang="en-US"><![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
{% include global/meta.html %}
{% include global/citations.html %}
{% include global/header_scripts.html %}
</head>

<body class="{{ page.body-class }}">

{% include global/nav.html %}

<div id="primary">
{{ content }}
</div>

</body>
</html>