---
layout: default
body-class: article
# title: 
# summary: 
# link: 
# hero: No
# tags: []
# citations: 
#   { url: X, type: x }
---
<article data-wordcount="{{ page.content | number_of_words }}">
<header{% if page.hero %} data-hero="{{page.hero}}"{% endif %}>
<h2 class="post-title">{{ page.title }}</h2>
<p class="post-date">{{ page.date | date: '%B %-d, %Y'}}</p>
</header>

{{ content }}

{% if site.disqus %}<section id="comments">
{% include disqus_thread.html %}
</section>
{% endif %}
</article>
